<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true">
  <test name="Test" presever-order ="true">
      <parameter name = "pRegressionLoginDataDriven" value ="RegressionLoginDataDriven()" />
      <parameter name = "pFunctionalLoginDataDriven" value = "FunctionalLoginDataDriven()" />
    <classes>
      
          <class name="com.test.methods.TestMethod">
          <methods>
              <include name = "testLogin"></include>
              <exclude name ="testSelectFarms"></exclude>
              <exclude name = "testLogOut"></exclude>
              <exclude name = "testSupplementaryStatus"></exclude>
              
           </methods>
           </class>
      <class name="com.data.driven.DataSourceIterator">
       <methods>
              <include name = "testLogin"></include>
                           
           </methods>
           </class>
    </classes> 
  </test> <!-- Test -->
</suite> <!-- Suite -->
